<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBOOK| Access denaied</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ae46928e6f.js" crossorigin="anonymous"></script>
</head>
<div class="h-screen w-screen bg-black flex justify-center content-center flex-wrap ">
    <i class="fas fa-dragon text-5xl text-red-900 px-6"></i>
    <a href='/' class="font-mono text-white text-5xl">Access denied</a>
</div>

<body>




</body>

</html>